html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.tags {
  display: flex;
  flex-direction: row;
}

.tags p {
  padding: 4px;
  background-color: #219ebc;
  margin: 0 8px 0 0;
  border-radius: 5px;
  text-align: center;
}

