.mainContainer {
    padding: 5rem 0;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 900px;
    flex-wrap: wrap;
    grid-gap: 16px;
}

.blogCard {
    width: 300px;
    height: 200px;
    background-color: #eaeaea;
    border-radius: 16px;
    padding: 16px;
    font-weight: bold;

}

.cardHeadingText {
    font-weight: 700;
    font-size: 34pt;
    margin: 0 0 8px;
}


@media (max-width: 600px) {
  .mainContainer {
    width: 100%;
    display: block;
  }
}
