.nav {
    background: rgb(193, 26, 26);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.nav ul {
    display: flex;
    justify-content: center;
    align-items: inherit;
    list-style: none;
    width: 100%;
}

.nav ul li a {
    margin: 5px 15px;
}