.nav {
    background: rgb(193, 26, 26);
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 60px 0 60px;
}

.divineImg {
    /*align-content: center;*/
    /*border-radius: 50%;*/

}

.divineImg img {
    height: 130px;
    width: 130px;
    border-radius: 50%;
    margin: 16px;
    border: 3px solid #fff;
    object-fit: cover;
}

.nav ul {
    display: flex;
    justify-content: center;
    align-items: inherit;
    list-style: none;
    width: 100%;
    padding-inline-start: 0;
}

.nav ul li a {
    margin: 5px 15px;
}